loadfont unicode

set color_normal=white/black
set color_highlight=black/light-gray

menuentry "Start DuneOS 64-bit" --class linuxmint {
	set gfxpayload=keep
	linux	/casper/vmlinuz  boot=casper username=dune hostname=dune quiet splash --
	initrd	/casper/initrd.gz
}
menuentry "Start DuneOS 64-bit (compatibility mode)" {
	linux	/casper/vmlinuz  boot=casper username=dune hostname=dune noapic noacpi nosplash irqpoll nomodeset --
	initrd	/casper/initrd.gz
}
menuentry "OEM install (for manufacturers)" {
	set gfxpayload=keep
	linux	/casper/vmlinuz  oem-config/enable=true only-ubiquity boot=casper username=mint hostname=mint quiet splash --
	initrd	/casper/initrd.gz
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
menuentry 'Memory test' {
	linux	/boot/memtest64.efi
}
fi
